/* Mobile first */
:root {
    --main-theme-color: #9FE2BF;
    --main-bg-color: #E6F2D4;
    --main-hv-color: #E6F2D4;
    --main-title-color: #0D2C05;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: var(--main-bg-color);
}

li {
    display: block;
}


/* Navigation bar */
nav,
nav * {
    background-color: var(--main-theme-color);
    padding: 2% 0%;
}

nav {
    display: flex;
    flex-direction: column;
}

#top-nav {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: xx-large;
    background-image: url("../../immagini/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    background-position-y: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 2%;
}

#top-nav a:link,
#top-nav a:visited {
    color: var(--main-title-color);
    text-decoration: none;
}

#hamburger:hover,
#hambuerger:focus {
    background-color: var(--main-hv-color);
}

#main-nav ul {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding-bottom: 8%;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 10;
}

#main-nav ul li a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--main-title-color);
    font-weight: bold;
    display: block;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.25rem;
    text-decoration: none;
    padding: 1rem;
    box-sizing: border-box;
}

#main-nav {
    display: none;
}

#main-nav ul li a:hover,
#main-nav ul li a:focus {
    background: var(--main-hv-color);
}

nav>ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: xx-large;
    text-decoration: solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

.bottom_nav a:hover,
.bottom_nav a:hover *,
.top_nav a:hover * {
    background-color: var(--main-hv-color);
}


/* Header */
header,
aside#pageFiller {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    justify-content: center;
    background-image: url("../../immagini/banner6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-y: 60%;
    padding: 10% 0%;
}

header h1,
header p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header p {
    font-weight: bold;
}

/* Footer */
footer {
    padding: 1% 0%;
    flex-direction: column-reverse;
    width: 100%;
}

footer,
footer ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    background-color: var(--main-theme-color);
}

footer ul li {
    display: flex;
    padding: 0% 10%;
}


/* Evidenza */
.evidenza,
.catalogo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    max-width: 60rem;
    margin: 0 auto;
    padding: 2rem;
}

.evidenza>h3,
.catalogo>h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--main-title-color);
    font-size: xx-large;
}

.evidenza>*,
.catalogo>* {
    padding: 5%;
}

.vai_catalogo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1% 0%;
}

.vai_catalogo>a {
    min-width: 70%;
    padding: 2% 0%;
    border: 2px solid;
    border-radius: 0.5rem;
    border-color: #0D2C05;
    border-style: solid;
    text-align: center;
    display: block;
    text-decoration: solid;
    color: #0D2C05;
    box-sizing: border-box;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.vai_catalogo a:hover {
    background: var(--main-title-color);
    color: var(--main-hv-color);
}

/* Card */
.cards {
    width: 100%;
}

.cards>ul {
    list-style: none;
}

.card+.card {
    margin-top: 1.5rem;
}

@supports (display: grid) {
    .cards>ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
        grid-column-gap: 1.5rem;
        grid-row-gap: 1.5rem;
    }

    .card+.card {
        margin-top: 0;
    }
}

.card {
    border: 2px solid;
    border-radius: 0.25rem;
    border-color: var(--main-title-color);
    border-style: solid;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--main-theme-color);
    transition: 0.3s;
}

.card .text {
    padding: 1rem;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    font-size: x-large;
}

.card p {
    max-width: 60ch;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-style: italic;
}

.card .price {
    text-decoration: solid;
    font-style: normal;
    text-align: right;
    font-size: x-large;
}

.card .img {
    height: 20rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 1rem));
}

.card .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: xx-large;
    display: block;
    text-decoration: none;
    color: #0D2C05;
    box-sizing: border-box;
}

.card a:focus {
    outline: none;
    text-decoration: underline;
}

.card:focus-within,
.card:hover {
    transform: scale(1.03);
}

.card:focus-within a:focus {
    text-decoration: none;
}

.card small {
    display: block;
}

.card .text>*+* {
    margin-top: 0.75rem;
}

.card .text> :last-child {
    margin-top: auto;
    padding-top: 0.75rem;
}

/* About us, Login e Registrazione */
.info {
    color: var(--main-title-color);
    font-weight: bold;
}

h1 {
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--main-title-color);
    padding: 2% 0%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

article {
    display: block;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-style: solid;
    border: 2px solid;
    border-radius: 0.5rem;
    background-color: white;
    border-color: #0D2C05;
    padding: 10px;
    margin-bottom: 1%;
}

section#about {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2%;
}

article>h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    color: var(--main-title-color);
    text-align: center;
}

span,
em {
    font-weight: bold;
}

span#important {
    font-weight: bold;
    text-decoration: underline;
    color: #6e1600;
}

/* Login and registration */
section#accessPoint {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    padding: 0 10% 5px;
}

section#accesspoint>h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

section#accessPoint form label {
    display: inline-block;
    width: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    color: var(--main-title-color);
    background-color: var(--main-theme-color);
    background-size: contain;
}

section#accessPoint form input:not([type="submit"]) {
    width: 60%;
    box-sizing: border-box;
}

section#accessPoint form input[type="submit"] {
    border-width: 1px;
    width: 60%;
    cursor: pointer;
}

/* Single product view */
img.product_photo {
    height: 450px;
    width: 450px;
    margin-top: 2%;
    margin-left: 4%;
    padding: 2%;
    background-color: white;
}

h3.product_name {
    margin: 1%;
    padding: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    font-weight: bold;
    color: var(--main-title-color);
}

p.price {
    text-decoration: solid;
    text-decoration: underline;
    font-style: normal;
    text-align: right;
    font-size: xx-large;
    color: black;
    margin-bottom: 5%;
    margin-right: 4%;
}

p.product_description {
    margin: 2%;
    padding: 4%;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: var(--main-title-color);
    border-style: solid;
    background-color: white;
}

input#btn-add, input#btn-not-log, a#btn-pay {
    margin: auto;
    margin-top: 10%;
    margin-bottom: 3%;
}

/* Cookie declaration banner */
p.cookie-declaration {
    margin: 24px 0;
    line-height: 2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .cookie-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--main-title-color);
    color: var(--main-bg-color);
    padding: 0 32px;
    box-shadow: 0 -2px 16px var(--main-title-color);
    transition: 400ms;
  }
  
  .cookie-container.active {
    bottom: 0;
  }
  
  .cookie-container a.cookie-anchor {
    color: var(--main-bg-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .cookie-btn {
    background: var(--main-bg-color);
    border: 0;
    color: var(--main-title-color);
    padding: 12px 48px;
    font-size: 18px;
    margin-bottom: 16px;
    border-radius: 8px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

/* Cart */
.shopping-cart {
    padding: 2% 0%;
    border: 2px solid;
    border-radius: 0.5rem;
    border-color: #0D2C05;
    border-style: solid;
    width: 80%;
    margin: 0% auto;
    margin-bottom: 2%;
}

.products>.item-cart {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}

.item-cart>.top, .bottom {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-between;
}

.top>img {
    margin: 2%;
    align-content: center;
    min-width: 150px;
    height: 150px;
    object-fit: cover;
    border-color: var(--main-title-color);
    border-style: solid;
}

.top h3.product_name {
    font-size: x-large;
    width: auto;
}

/* Cart buttons for operations */
.quantity-modifier {
    margin: 0;
    padding: 0;
    flex-direction: row;
    border-style: solid;
    border-color: var(--main-title-color);
    font-size: x-large;
    background-color: var(--main-title-color);
    color: var(--main-bg-color);
}

.item-qty, .cart-btn, .cart-btn-delete, form.delete-btn {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: var(--main-bg-color);
    font-size: large;
    border: 2px solid;
    border-radius: 0.5rem;
    border-color: var(--main-title-color);
    border-style: solid;
}

.delete_button {
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: solid;
    color: var(--main-title-color);
    background-color: #eff7e3;
    font-weight: bold;
    outline: none;
    transition: .2s ease-in;
    cursor: pointer;
}

input.delete_button {
    width: 100%;
    padding: 1%;
}

.delete_button:hover, .cart-btn:hover {
    border: 2px solid;
    border-radius: 0.5rem;
    background: var(--main-title-color);
    color: var(--main-hv-color);
}

.query_qty {
    margin: 2%;
}

/* Hamburger Button */
button {
    all: unset;
}

#nav-icon3 {
    width: 40px;
    height: 30px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon3 span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}


#nav-icon3 span:nth-child(1) {
    top: 3px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
    top: 13px;
}

#nav-icon3 span:nth-child(4) {
    top: 23px;
}

#nav-icon3.open span:nth-child(1) {
    top: 13px;
    width: 0%;
    left: 50%;
}

#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
    top: 13px;
    width: 0%;
    left: 50%;
}

/* Forms */
form>input,
form>select {
    width: 80%;
    height: 50px;
    background: var(--main-theme-color);
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 1.3em;
}

input:focus {
    border: 2px solid;
    border-radius: 0.5rem;
    border-color: var(--main-title-color);
}

.commit_button {
    width: 60%;
    margin: 4% 0%;
    height: 60px;
    text-align: center;
    text-decoration: solid;
    color: var(--main-title-color);
    background-color: #eff7e3;
    font-weight: bold;
    outline: none;
    transition: .2s ease-in;
    cursor: pointer;
    font-size: 1.6em;
    border: 2px solid;
    border-radius: 0.5rem;
    border-color: var(--main-title-color);
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}


label {
    color: var(--main-title-color);
    font-size: 1.5em;
    margin-top: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
    text-align: center;
}

textarea {
    width: 80%;
    margin: auto;
    margin-top: 2%;
    display: block;
    overflow-y: scroll;
    height: 100px;
    resize: none;
}


form {
    margin: 2% 10%;
    padding: 2% 0%;
    display: flex;
    flex-direction: column;
    border: 2px solid;
    border-radius: 0.5rem;
    border-color: #0D2C05;
    border-style: solid;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #eff7e3;
}

form>div {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    margin-top: 4%;
    align-content: center;
    text-align: center;
}

#logout_form {
    margin-top: 0%;
    margin-bottom: 0%;
    border: none;
    background-color: var(--main-hv-color);
}


.commit_button:hover,
.commit_button:focus {
    background: var(--main-title-color);
    color: var(--main-hv-color);
}



/* Payment */
section.payment {
    background: var(--main-theme-color);
    max-width: 360px;
    margin: 80px auto;
    height: auto;
    padding: 20px;
    padding-top: 70px;
    border-radius: 5px;
    position: relative;
}

.payment h2 {
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    color: var(--main-title-color);
}

.compiation_form .label_data {
    display: block;
    color: var(--main-title-color);
    margin-bottom: 6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-weight: bold;
}

.input_data {
    padding: 13px 0px 13px 25px;
    width: 100%;
    text-align: center;
    border: 2px solid #dddddd;
    border-radius: 5px;
    letter-spacing: 1px;
    word-spacing: 3px;
    outline: none;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    color: black;
}

.input-grp {
    display: flex;
    justify-content: space-between;
}

.input-item {
    width: 40%;
}

.space {
    margin-bottom: 30px;
}

.icon-relative {
    position: relative;
}

.icon-relative .fas,
.icon-relative .far {
    position: absolute;
    bottom: 12px;
    left: 15px;
    font-size: 20px;
    color: #555555;
}

.btn {
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.pay {
    color: var(--main-title-color);
    background: var(--main-hv-color);
    padding: 12px;
    font-size: 1.6em;
    border: 2px solid;
    border-radius: 0.5rem;
    border-color: var(--main-title-color);
    border-style: solid;
    text-decoration: solid;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.pay:hover,
.pay:focus {
    background: var(--main-title-color);
    color: var(--main-hv-color);
}

.payment-logo {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background: var(--main-hv-color);
    border-radius: 50%;
    box-shadow: 0 0 5px var(--main-title-color);
    text-align: center;
    line-height: 85px;
}

.payment-logo:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 90px;
    height: 90px;
    background: var(--main-title-color);
    border-radius: 50%;
}

.payment-logo p {
    position: relative;
    color: var(--main-hv-color);
    font-family: 'Baloo Bhaijaan', cursive;
    font-size: 58px;
}

aside {
    display: block;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-style: solid;
    border: 2px solid;
    border-radius: 0.5rem;
    background-color: white;
    border-color: #0D2C05;
    padding: 10px;
    margin: 2%;
}

aside>h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    color: #6e1600;
    text-align: center;
}

.advise {
    text-align: center;
    padding-top: 2%;
}

/* table */
section#notifications_section {
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    width: 60%;
    background-color: #eff7e3;
    border: var(--main-title-color);
    border-radius: 0.5rem;
    border-color: #0D2C05;
    border-style: solid;
    margin: 4% 0%;
}

th {
    padding: 20px 15px;
    text-align: left;
    font-size: 2em;
    color: var(--main-title-color);
    text-transform: uppercase;
    border-bottom: solid 2px var(--main-title-color);
}

td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-size: 1.4em;
    color: black;
    border-bottom: solid 1px #dddddd;
}

table .material-icons:hover {
    color: #DC143C;
    cursor: pointer;
}


@media screen and (min-width:960px) {

    /* NavBar */
    #hamburger {
        display: none;
    }

    nav {
        height: 20%;
        padding: 0%;
        margin: 0%;
    }

    #main-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        padding: 0%;
        margin: 0%;
    }

    #main-nav ul {
        position: unset;
        z-index: 0;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        align-content: center;
        padding-bottom: unset;
        height: unset;
        width: unset;
        padding: 0%;
        margin: 0%;
    }

    #main-nav ul li {
        padding: 0%;
        margin: 0%;
    }

    /* Product */
    section.single_product {
        margin: 0;
        padding: 0;
    }

    img.product_photo {
        margin: 2%;
        padding: 0;
        width: 50%;
        height: 50%;
    }

    .product_info {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
    }

    h3.product_name {
        margin: 0;
        padding: 2%;
        width: 50%;
    }

    p.price {
        width: 40%;
        max-height: 10%;
        align-self: flex-end;
        margin-top: auto;
        text-align: right;
        flex: content;
    }

    .product_data {
        margin: 1%;
        display: flex;
        flex-direction: column;
    }

    p.product_description {
        max-height: 90%;
        margin: 2%;
        padding: 2%;
        width: 90%;
    }

    /* Footer */
    footer {
        flex-direction: row;
    }

    /* In Evidenza */
    .vai_catalogo>a {
        min-width: 0%;
        width: 30%;
    }

    /* Forms */
    form {
        margin-right: 30%;
        margin-left: 30%;
    }

    /* Cart */
    .top > img {
        margin: 3%;
        margin-left: 100px;
        margin-right: 100px;
        max-width: 10%;
        align-content: left;
        min-width: 150px;
        height: 150px;
        object-fit: cover;
        border-color: var(--main-title-color);
        border-style: solid;
    }

    .top {
        align-self:flex-start;
        margin-left: 0;
    }

    h3.product_name {
        min-width: 400px;
    }
}