/* Mobile first */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blanchedalmond;
    overflow-x: hidden;
}

/* Navigation bar */
nav, nav * {
    background-color: #BEE5B0;
}

.top_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    padding: 0% 10%;
}

.bottom_nav {
    position: fixed;
    overflow-x: hidden;
    transition: 0.4s;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 0;
    height: 100%;
}

.bottom_nav a {
    text-align: center;
    display: block;
    font-size: x-large;
    color: black;
    box-sizing: border-box;
    padding: 10% 0%;
}

.top_nav a:hover * {
    background-color: green;
}

.bottom_nav a:hover, .bottom_nav a:hover * {
    background-color: green;
}